body {
    font-family: sans-serif;
    color: black;
    text-align: center;
    margin: 0em;
}

body h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1em;
    font-weight: 100;
}

hr {
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    width: 30%;
}

.gamearea {
    width: 100%;
}

.align-left-tb {
    display: inline-block;
}

.box {
    background-color: black;
    color: white;
    width: 10em;
    height: 10em;
    text-align: center;
    margin: 1em;
    display: inline-block;
}

#top {
    background-color: #ff6666;
}

#bottom {
    background-color: #bada55;
}

.box#subject {
    position: relative;
    top: -6em;
}

.score {
    font-size: 1em;
}

footer {
    text-align: center;
}

@media screen and (max-width: 400px) {
    body {
        background-color: black;
    }
}
